<!-- Config file for the engine -->
<config>
  <engine>
    <title>My platformer game</title>
    <targetFrameRate value="60"/>
  </engine>

  <render>
    <vsync value="false"/>
  </render>

  <window>
    <resolution width="1280" height="720" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <scene>
	<maps>
	  <map path="Assets/Maps/" name="MapTemplate.tmx"/>
	  <map path="Assets/Maps/" name="MapTemplate1.tmx"/>
	</maps>
  </scene>
  <player>
    <data initialPos="" speed="" animationSets=""/>
  </player>
</config>
